<div class="farm">
    <aegro-banner>
        <ng-container description>Acompanhe a trajetória completa da safra em um só lugar!</ng-container>
    </aegro-banner>

    <div class="farm__content  box-container">
        <button mat-raised-button color="primary" (click)="openForm()">Adicionar fazenda</button>
        <div class="farm__cards">
            <ng-container *ngIf="listFarm?.length">
                <mat-card class="farm__card" *ngFor="let farm of listFarm">
                    <mat-card-header>
                        <div mat-card-avatar class="farm__card__avatar">
                            <mat-icon>agriculture</mat-icon>
                        </div>
                        <mat-card-title>{{farm?.name}}</mat-card-title>
                        <mat-card-subtitle>
                            <ng-container *ngIf="farm && farm.chunks"> 
                                {{farm.chunks.length <= 1 ? 'Talhão ' : 'Talhões '}}
                                {{farm.chunks.length}}
                            </ng-container>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>
            </ng-container>
        </div>
    </div>
    
</div>
